***Handling big data and Data Scraping:***

**A.	find the 20 most popular movies with a rank more than 8.0**

In [20]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [21]:
basics = pd.read_csv("titlebasics.tsv", delimiter = "\t")
basics.head(5)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0.0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893,\N,1,"Comedy,Short"

In [22]:
ratings = pd.read_csv("titleratings.tsv", delimiter = "\t")
ratings.head(5)

      tconst  averageRating  numVotes
0  tt0000001            5.7      1672
1  tt0000002            6.1       208
2  tt0000003            6.5      1396
3  tt0000004            6.2       123
4  tt0000005            6.2      2187

In [23]:
data = ratings[ratings['averageRating'] > 8.0]
data.head(5)

        tconst  averageRating  numVotes
273  tt0000361            8.1        10
298  tt0000417            8.2     43856
338  tt0000505            8.1        11
606  tt0000961            8.2        13
686  tt0001089            8.3        19

In [24]:
final_ratings = data.sort_values('numVotes', ascending = False)

In [25]:
final_ratings.head(20)

           tconst  averageRating  numVotes
81782   tt0111161            9.3   2328389
246111  tt0468569            9.0   2290098
582821  tt1375666            8.8   2053823
98070   tt0137523            8.8   1844156
81566   tt0110912            8.9   1816030
80693   tt0109830            8.8   1797096
423723  tt0944947            9.3   1749444
95980   tt0133093            8.7   1666608
89552   tt0120737            8.8   1651082
112891  tt0167260            8.9   1634231
45699   tt0068646            9.2   1608838
575088  tt1345836            8.4   1508644
387693  tt0816692            8.6   1498772
112892  tt0167261            8.7   1477609
413857  tt0903747            9.5   1441756
84333   tt0114369            8.6   1435600
667511  tt1853728            8.4   1348730
115312  tt0172495            8.5   1334271
206425  tt0372784            8.2   1301897
74998   tt0102926            8.6   1262910

In [26]:
output = pd.merge(final_ratings, basics, on= 'tconst')
output.head(10)

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0111161,9.3,2328389,movie,The Shawshank Redemption,The Shawshank Redemption,0.0,1994,\N,142,Drama
1,tt0468569,9.0,2290098,movie,The Dark Knight,The Dark Knight,0.0,2008,\N,152,"Action,Crime,Drama"
2,tt0137523,8.8,1844156,movie,Fight Club,Fight Club,0.0,1999,\N,139,Drama
3,tt0110912,8.9,1816030,movie,Pulp Fiction,Pulp Fiction,0.0,1994,\N,154,"Crime,Drama"
4,tt0109830,8.8,1797096,movie,Forrest Gump,Forrest Gump,0.0,1994,\N,142,"Drama,Romance"
5,tt0944947,9.3,1749444,tvSeries,Game of Thrones,Game of Thrones,0.0,2011,2019,57,"Action,Adventure,Drama"
6,tt0133093,8.7,1666608,movie,The Matrix,The Matrix,0.0,1999,\N,136,"Action,Sci-Fi"
7,tt0120737,8.8,1651082,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0.0,2001,\N,178,"Action,Adventure,Drama"
8,tt0167260,8.9,1634231,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0.0,2003,\N,201,"Action,Adventure,Drama"
9,tt0068646,9.2,1608838,movie,The Godfather,The Godfather,0.0,1972,\N,175,"Crime,Drama"

In [27]:
output = output[output['titleType'] == 'movie']

In [28]:
output.head(10)

,tconst,averageRating,numVotes,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0111161,9.3,2328389,movie,The Shawshank Redemption,The Shawshank Redemption,0.0,1994,\N,142,Drama
1,tt0468569,9.0,2290098,movie,The Dark Knight,The Dark Knight,0.0,2008,\N,152,"Action,Crime,Drama"
2,tt0137523,8.8,1844156,movie,Fight Club,Fight Club,0.0,1999,\N,139,Drama
3,tt0110912,8.9,1816030,movie,Pulp Fiction,Pulp Fiction,0.0,1994,\N,154,"Crime,Drama"
4,tt0109830,8.8,1797096,movie,Forrest Gump,Forrest Gump,0.0,1994,\N,142,"Drama,Romance"
6,tt0133093,8.7,1666608,movie,The Matrix,The Matrix,0.0,1999,\N,136,"Action,Sci-Fi"
7,tt0120737,8.8,1651082,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0.0,2001,\N,178,"Action,Adventure,Drama"
8,tt0167260,8.9,1634231,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0.0,2003,\N,201,"Action,Adventure,Drama"
9,tt0068646,9.2,1608838,movie,The Godfather,The Godfather,0.0,1972,\N,175,"Crime,Drama"
10,tt0816692,8.6,1498772,movie,Interstellar,Interstellar,0.0,2014,\N,169,"Adventure,Drama,Sci-Fi"

In [29]:
output['originalTitle'].head(20)

0                              The Shawshank Redemption
1                                       The Dark Knight
2                                            Fight Club
3                                          Pulp Fiction
4                                          Forrest Gump
6                                            The Matrix
7     The Lord of the Rings: The Fellowship of the Ring
8         The Lord of the Rings: The Return of the King
9                                         The Godfather
10                                         Interstellar
11                The Lord of the Rings: The Two Towers
13                                                Se7en
14                                            Gladiator
15                                        Batman Begins
16                             The Silence of the Lambs
17                                 Inglourious Basterds
18                                  Saving Private Ryan
19                                            Star Wars
20                                     Schindler's List
21                                         The Prestige
Name: originalTitle, dtype: object

**B. find the 20 best rated movies with over 40,000 votes in the 2000s (year >= 2000)**

In [30]:
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult           float64
startYear          object
endYear            object
runtimeMinutes     object
genres             object
dtype: object

In [31]:
basics['startYear'] = pd.to_numeric(basics['startYear'], errors='coerce')

In [32]:
basics.dtypes

tconst             object
titleType          object
primaryTitle       object
originalTitle      object
isAdult           float64
startYear         float64
endYear            object
runtimeMinutes     object
genres             object
dtype: object

In [33]:
year = basics[(basics['startYear'] >= 2000) & (basics['titleType'] == 'movie')]
year.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
15184,tt0015414,movie,La tierra de los toros,La tierra de los toros,0.0,2000.0,\N,60,\N
16662,tt0016906,movie,Frivolinas,Frivolinas,0.0,2014.0,\N,80,"Comedy,Musical"
19706,tt0019996,movie,Hongxia,Hongxia,0.0,2011.0,\N,94,\N
34811,tt0035423,movie,Kate & Leopold,Kate & Leopold,0.0,2001.0,\N,118,"Comedy,Fantasy,Romance"
61132,tt0062336,movie,El Tango del Viudo y Su Espejo Deformante,El Tango del Viudo y Su Espejo Deformante,0.0,2020.0,\N,70,Drama
63462,tt0064730,movie,Japan Organized Crime Boss,Nihon boryoku-dan: Kumicho,0.0,2000.0,\N,97,"Action,Crime"
64107,tt0065392,movie,Bucharest Memories,Amintiri bucurestene,0.0,2020.0,\N,\N,Documentary
67686,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0.0,2018.0,\N,122,Drama
85714,tt0087608,movie,Leila wa al ziap,Leila wa al ziap,0.0,2008.0,\N,90,Documentary
86825,tt0088751,movie,The Naked Monster,The Naked Monster,0.0,2005.0,\N,100,"Comedy,Horror,Sci-Fi"

In [34]:
output1 = pd.merge(year, ratings, on= 'tconst')
output1.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0015414,movie,La tierra de los toros,La tierra de los toros,0.0,2000.0,\N,60,\N,5.4,11
1,tt0016906,movie,Frivolinas,Frivolinas,0.0,2014.0,\N,80,"Comedy,Musical",5.6,15
2,tt0019996,movie,Hongxia,Hongxia,0.0,2011.0,\N,94,\N,6.3,52
3,tt0035423,movie,Kate & Leopold,Kate & Leopold,0.0,2001.0,\N,118,"Comedy,Fantasy,Romance",6.4,78762
4,tt0062336,movie,El Tango del Viudo y Su Espejo Deformante,El Tango del Viudo y Su Espejo Deformante,0.0,2020.0,\N,70,Drama,6.4,126
5,tt0064730,movie,Japan Organized Crime Boss,Nihon boryoku-dan: Kumicho,0.0,2000.0,\N,97,"Action,Crime",7.0,172
6,tt0065392,movie,Bucharest Memories,Amintiri bucurestene,0.0,2020.0,\N,\N,Documentary,6.3,7
7,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0.0,2018.0,\N,122,Drama,6.8,6224
8,tt0087608,movie,Leila wa al ziap,Leila wa al ziap,0.0,2008.0,\N,90,Documentary,7.7,13
9,tt0088751,movie,The Naked Monster,The Naked Monster,0.0,2005.0,\N,100,"Comedy,Horror,Sci-Fi",5.4,275

In [35]:
votes = output1[output1['numVotes'] > 40000]
votes.head(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
3,tt0035423,movie,Kate & Leopold,Kate & Leopold,0.0,2001.0,\N,118,"Comedy,Fantasy,Romance",6.4,78762
39,tt0118694,movie,In the Mood for Love,Fa yeung nin wah,0.0,2000.0,\N,98,"Drama,Romance",8.1,123235
66,tt0120630,movie,Chicken Run,Chicken Run,0.0,2000.0,\N,84,"Adventure,Animation,Comedy",7.0,176505
67,tt0120667,movie,Fantastic Four,Fantastic Four,0.0,2005.0,\N,106,"Action,Adventure,Fantasy",5.7,310735
69,tt0120679,movie,Frida,Frida,0.0,2002.0,\N,123,"Biography,Drama,Romance",7.4,81064
70,tt0120681,movie,From Hell,From Hell,0.0,2001.0,\N,122,"Horror,Mystery,Thriller",6.8,146428
73,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0.0,2001.0,\N,178,"Action,Adventure,Drama",8.8,1651082
75,tt0120755,movie,Mission: Impossible II,Mission: Impossible II,0.0,2000.0,\N,123,"Action,Adventure,Thriller",6.1,313521
76,tt0120804,movie,Resident Evil,Resident Evil,0.0,2002.0,\N,100,"Action,Horror,Sci-Fi",6.7,246753
80,tt0120903,movie,X-Men,X-Men,0.0,2000.0,\N,104,"Action,Adventure,Sci-Fi",7.4,568847

In [36]:
Output2 = votes.sort_values('averageRating', ascending = False)
Output2.head(20)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
20016,tt0468569,movie,The Dark Knight,The Dark Knight,0.0,2008.0,\N,152,"Action,Crime,Drama",9.0,2290098
367,tt0167260,movie,The Lord of the Rings: The Return of the King,The Lord of the Rings: The Return of the King,0.0,2003.0,\N,201,"Action,Adventure,Drama",8.9,1634231
73,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,The Lord of the Rings: The Fellowship of the Ring,0.0,2001.0,\N,178,"Action,Adventure,Drama",8.8,1651082
368,tt0167261,movie,The Lord of the Rings: The Two Towers,The Lord of the Rings: The Two Towers,0.0,2002.0,\N,179,"Action,Adventure,Drama",8.7,1477609
30121,tt10189514,movie,Soorarai Pottru,Soorarai Pottru,0.0,2020.0,\N,153,Drama,8.7,51743
7555,tt0317248,movie,City of God,Cidade de Deus,0.0,2002.0,\N,130,"Crime,Drama",8.6,696432
2350,tt0245429,movie,Spirited Away,Sen to Chihiro no kamikakushi,0.0,2001.0,\N,125,"Adventure,Animation,Family",8.6,645756
24730,tt0816692,movie,Interstellar,Interstellar,0.0,2014.0,\N,169,"Adventure,Drama,Sci-Fi",8.6,1498772
419,tt0172495,movie,Gladiator,Gladiator,0.0,2000.0,\N,155,"Action,Adventure,Drama",8.5,1334271
21434,tt0482571,movie,The Prestige,The Prestige,0.0,2006.0,\N,130,"Drama,Mystery,Sci-Fi",8.5,1182898
14636,tt0407887,movie,The Departed,The Departed,0.0,2006.0,\N,151,"Crime,Drama,Thriller",8.5,1182738
2803,tt0253474,movie,The Pianist,The Pianist,0.0,2002.0,\N,150,"Biography,Drama,Music",8.5,724858
28746,tt0986264,movie,Like Stars on Earth,Taare Zameen Par,0.0,2007.0,\N,165,"Drama,Family",8.4,167420
27284,tt0910970,movie,WALL·E,WALL·E,0.0,2008.0,\N,98,"Adventure,Animation,Family",8.4,994127
1044,tt0209144,movie,Memento,Memento,0.0,2000.0,\N,113,"Mystery,Thriller",8.4,1120136
10860,tt0364569,movie,Oldboy,Oldeuboi,0.0,2003.0,\N,120,"Action,Drama,Mystery",8.4,512229
14431,tt0405094,movie,The Lives of Others,Das Leben der Anderen,0.0,2006.0,\N,137,"Drama,Mystery,Thriller",8.4,356818
1015,tt0208092,movie,Snatch,Snatch,0.0,2000.0,\N,104,"Comedy,Crime",8.3,778462
495,tt0180093,movie,Requiem for a Dream,Requiem for a Dream,0.0,2000.0,\N,102,Drama,8.3,762944
20775,tt0476735,movie,My Father and My Son,Babam ve Oglum,0.0,2005.0,\N,112,"Drama,Family",8.3,78344

In [37]:
Output2['originalTitle'].head(20)

20016                                      The Dark Knight
367          The Lord of the Rings: The Return of the King
73       The Lord of the Rings: The Fellowship of the Ring
368                  The Lord of the Rings: The Two Towers
30121                                      Soorarai Pottru
7555                                        Cidade de Deus
2350                         Sen to Chihiro no kamikakushi
24730                                         Interstellar
419                                              Gladiator
21434                                         The Prestige
14636                                         The Departed
2803                                           The Pianist
28746                                     Taare Zameen Par
27284                                               WALL·E
1044                                               Memento
10860                                             Oldeuboi
14431                                Das Leben der Anderen
1015                                                Snatch
495                                    Requiem for a Dream
20775                                       Babam ve Oglum
Name: originalTitle, dtype: object