In [1]:
import pandas as pd
import numpy as np
import random
import glob
import csv, os

In [2]:
def is_file_empty(file_path):
    return os.path.exists(file_path) and os.stat(file_path).st_size == 0

In [3]:
count = 1
df = pd.DataFrame()
for files in glob.glob('D:\\msit2\\DADV\\Asignments\\Task-2\\*.csv'):
    if count == 30:
        break
    f=open(files, 'r')
    name = os.path.basename(f.name).replace(".csv","")
    if is_file_empty("D:\\msit2\\DADV\\Asignments\\Task-2\\"+name+".csv"):
        continue
    data = pd.read_csv(f)
    gain = (data.at[data.shape[0]-1, "Close Price"] / data.at[0,"Close Price"]) - 1
#     gain = (close[len(close)-1]/close[0])-1
    row = {'Code': name, 'Gain': gain}
    df = df.append(row, ignore_index=True)
    count = count + 1
    f.close()

In [4]:
df

          Code      Gain
0   500188 (1) -0.425875
1       500188 -0.425875
2       500213  3.033735
3       500246 -0.413333
4       500247 -0.641139
5       505729  5.060742
6       506390  1.102953
7       513307  0.879167
8       513729  0.347826
9       515030 -0.428300
10      517041  0.003511
11      519126 -0.929726
12      523384 -0.862857
13      526861  2.002336
14      527001 -0.265233
15  530369 (1)  0.873418
16      530369  0.873418
17      531017  0.273043
18      531550  1.415254
19      532102 -0.116279
20      532740  1.356546
21      533263  4.790378
22      533520 -0.876771
23      536737  5.654991
24      538890 -0.400907
25      539402  0.283293
26      539599  0.009231
27      539837 -0.845098
28      541778 -0.370769

In [5]:
df = df.sort_values("Gain", ascending=False)
df.head(10)

      Code      Gain
23  536737  5.654991
5   505729  5.060742
21  533263  4.790378
2   500213  3.033735
13  526861  2.002336
18  531550  1.415254
20  532740  1.356546
6   506390  1.102953
7   513307  0.879167
16  530369  0.873418